@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ID+Guides&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* Dark 02 */
.text-gray{
    color: #424242;
}
/* Dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}


/* Header Styles */

/* nav-bar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{
    list-style: none;
}
.nav-item{
    margin-right: 2rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related Styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size:4rem;
}

.banner-image{
    width: 100%;
}

/* teams and our feature section related styles */
.teams{
    align-items: center;
    gap: 4.5rem;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.our-feature{
    max-width: 530px;
}

.our-feature .feature-title{
    font-size: 3rem;
}
.our-feature #quick-list{
    font-weight: 500;
}
.our-feature #of-our{
    font-weight: 700;
}
.our-feature #features{
    color: #FF900E;
}

.feature-description{
    font-size: 1.15rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

/* Responsive Media Query */
@media screen and (max-width:576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }    
}